<h1> Bounty Board</h1>

<nav class="navbar">
    <div class = "navbar-container">
        <div class="navbar-search">
            <input type="text" placeholder="Search for bounties..." />
            <button type="submit">Search</button>
        </div>


    </div>
</nav>