<footer class="text-center text-muted w-100 mt-auto fixed-bottom">
    <!-- TODO: Add the <script><script /> tag to include bootstrap javascript -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
      crossorigin="anonymous"
    ></script>
    <p>
        &copy; Copyright 2024 : CSCI 3308 - Bounty Board Project
    </p>
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-1607164794557359"
     crossorigin="anonymous"></script>
<!-- Base -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-1607164794557359"
     data-ad-slot="1019206305"
     data-ad-format="auto"
     data-full-width-responsive="true"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
</footer>
</body>
</html>