<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
    <a class="navbar-brand" href="/"></a>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="home">Home</a>
      </li>
         <li class="nav-item">
        <a class="nav-link" href="/CreateBounty">Start Bounty</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/reviews">Your reviews</a>
      </li>
      
      <li class="nav-item">
        <a class="nav-link" href="/writeReview">Write a review</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/message_page">Messages</a>
      </li>
  
      <li class="nav-item">
        <a class="nav-link" href="/addFunds">Deposit</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/logout">Logout</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/notification_page">🔔</a>
      </li>
    <!-- Search bar -->
    <form class="search-bar" action="/home" method="GET">
      <input type="search" name="q" placeholder="Search..." pattern="[A-Za-z0-9\s]{3,}"
        title="Please enter at least 3 characters (letters or numbers)" required>
      <button type="submit">Search</button>
    </form>
     <li class="nav-item">
        <button id = "writeMessageButton">Write Message</button>
      </li>
      
        <li class="nav-item">
        <a class="nav-link" href="/profile" style="margin-left: 25px;">👤</a>
      </li>
  </div>
</nav>