<form method="POST" action="/addFunds">
    <div class="row mb-3 mt-3">
        <label for="price" class="form-label col-12">Enter a Value</label>
        <input 
            type="number" 
            class="form-control col-12 text-center" 
            id="deposit" 
            name="deposit" 
            value="0" 
            min="0" 
            step="1" 
            required>
    </div>

    <button type="submit" class="btn btn-primary">Deposit</button>
</form>