<h1 class="text-center">Edit Profile</h1>
<div class="ms-5 me-5">
    {{#with profile}}
        <form method="POST" action="/editProfile">
            <input type="hidden" name="userName" value="{{userName}}">
            <div class="form-group">
                <label for="first_name">First name</label>
                <input
                    name="first_name"
                    id="first_name"
                    placeholder="{{first_name}}..."
                    title="Change your first name:"
                />
            </div><div class="form-group">
                <label for="last_name">Last name:</label>
                <input
                    name="last_name"
                    id="last_name"
                    placeholder="{{last_name}}..."
                    title="Change your last name:"
                />
            </div>
            <div class="form-group">
                <label for="bio">Bio:</label>
                <input
                    name="bio"
                    id="bio"
                    placeholder="{{profile_bio}}...";
                    title="Change your bio:"
                />
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Done</button>
            </div>
        </form>
    {{/with}}
</div>