{{> message}}

<h2 class = "text-center">reset password</h2>
<div class = "d-flex justify-content-center">
    {{!-- verify correct fields are inputted for email: --}}
<form method="POST" action="/resetPassword2">
    <input type="hidden" name="userName" value="{{userName}}">
    <div class="form-group">
        <label for="first_name">password:</label>
        <input
            name="newPassword"
            id="newPassword"
            placeholder="new password..."
            required
            title="Please enter your new password"
        />
        <label for="first_name">retype password:</label>
        <input
            name="newPassword2"
            id="newPassword2"
            placeholder="new password..."
            required
            title="Please enter your new password"
        />
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Reset Password</button>
    </div>
    <p>Click <a href="/login">here</a> to login</p>
</form>
</div>