{{> message}}

<h2 class = "text-center">Reset password</h2>
<div class = "d-flex justify-content-center">
    {{!-- verify correct fields are inputted for email: --}}
<form method="POST" action="/resetPassword1">
    <div class="form-group">
        <label for="username">Email:</label>
        <input
            name="username"
            id="username"
            placeholder="email..."
            required
            title="Please enter your email to recieve a code!"
        />
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Get Code</button>
    </div>
    <p>Click <a href="/login">here</a> to login</p>
</form>
</div>