<h1 class="text-center">Reviews</h1>
<a class="nav-link" href="/reviewsByMe">Review by you</a>
<div class="ms-5 me-5">
    <table class="table">
        <thead>
            <tr>
                <th>Review By</th>
                <th>Review Comment</th>
                <th>Review Score</th>
            </tr>
        </thead>
        <tbody>
            {{#each reviews}}
            <tr>
                <td>{{reviewer_name}}</td> 
                <td>{{review_text}}</td>  
                <td>{{rating}}</td>       
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>
