<h1 class="text-center">Reviews</h1>
<div class="ms-5 me-5">
    <table class="table">
        <thead>
            <tr>
                <th>Review By</th>
                <th>Review Comment</th>
                <th>Review Score</th>
            </tr>
        </thead>
        <tbody>
            {{#each reviews}}
            <tr>
                <td>{{review_by}}</td>    <!-- Updated variable names -->
                <td>{{review_text}}</td>  <!-- Updated variable names -->
                <td>{{rating}}</td>       <!-- Updated variable names -->
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>
