<h1 class="text-center">Reviews</h1>
<div class="ms-5 me-5">
    <table class="table">
        <thead>
            <tr>
                <th>You reviewed</th>
                <th>Review Comment</th>
                <th>Review Score</th>
            </tr>
        </thead>
        <tbody>
            {{#each reviews}}
            <tr>
                <td>{{user_reviewed}}</td>  
                <td>{{review_text}}</td>  
                <td>{{rating}}</td>      
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>
