<form method="POST" action="/writeReview">
  <div class="mb-3">
    <label for="username" class="form-label">Who would you like to review?</label>
    <input type="text" class="form-control" id="username" name="username" required>
  </div>

  <div class="mb-3">
    <label for="rating" class="form-label">Please choose a rating</label>
    <select id="number" name="rating" required>
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5</option>
      <option value="6">6</option>
      <option value="7">7</option>
      <option value="8">8</option>
      <option value="9">9</option>
      <option value="10">10</option>
    </select>
  </div>

  <div class="mb-3">
    <label for="review_text" class="form-label">Please type review here</label>
    <textarea class="form-control" id="review_text" name="review_text" rows="4" required></textarea>
  </div>

  <button type="submit" class="btn btn-primary">Submit Review</button>
</form>
