<form>
  <div class="mb-3">
    <label for="username" class="form-label">Who would you like to review?</label>
    <input type="text" class="form-control" id="username">
    </div>
    <div class="mb-3">
    <label for="rating" class="form-label">Please choose a rating</label>
    <select id="number" name="number">
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
    <option value="5">5</option>
    <option value="6">6</option>
    <option value="7">7</option>
    <option value="8">8</option>
    <option value="9">9</option>
    <option value="10">10</option>
  </select>
    </div>
    <div class="mb-3">
    <label for="reviewText" class="form-label">Please type review here</label>
    <input type="text" class="form-control" id="reviewText">
    </div>
  <button type="submit" class="btn btn-primary">Submit Review</button>
</form>